<%- include('partials/header') -%>

    <style>
        body {
            background-color: #f1f1f1;
        }

        .landing-container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .landing-heading {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        .landing-text {
            text-align: center;
            margin-bottom: 30px;
        }

        .landing-img {
            display: block;
            margin: 0 auto;
            width: 95%;
            max-width: 700px;
            height: auto;
            margin-bottom: 30px;
        }
    </style>
    <div class="container">
        <div class="landing-container">
            <h1 class="landing-heading">Welcome to ST Bus Tracking System</h1>
            <p class="landing-text">Track the live location of buses in real-time and plan your journey with ease.</p>
            <!-- <img class="landing-img img-fluid"
                src="https://www.milesight-iot.com/wp-content/uploads/2019/04/bus-tracking.png" alt="Bus Image"> -->
            <img class="landing-img img-fluid"
                src="/static/images/new icon.png" alt="Bus Image">

            <div class="jumbotron">
                <h1>Bus Tracking System</h1>
                <p>Track your buses in real-time and enjoy convenient and efficient transportation.</p>

                <h2>Features:</h2>
                <ul>
                    <li><strong>Real-Time Bus Tracking:</strong> Keep an eye on the exact location of your bus in
                        real-time.</li>
                    <li><strong>Live Updates:</strong> Receive live updates about delays, diversions, and other
                        important information.</li>
                    <li><strong>Route Maps:</strong> Access detailed route maps to plan your journey more effectively.
                    </li>
                    <li><strong>User-Friendly Interface:</strong> Enjoy an intuitive and easy-to-use interface for
                        seamless navigation and interaction.</li>
                    <li><strong>Multi-Platform Support:</strong> Access the bus tracking system from your smartphone,
                        tablet, or computer.</li>
                </ul>

                <p>With our bus tracking system, you can make your daily commute more efficient and plan your journey
                    with confidence. Experience the convenience and reliability of our advanced tracking technology
                    today!</p>

            </div>

        </div>
    </div>