<%- include('partials/header') -%>

<style>
    body {
        background-color: #f1f1f1;
    }

    .landing-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .landing-heading {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
    }

    .landing-text {
        text-align: center;
        margin-bottom: 30px;
    }

    .landing-img {
        display: block;
        margin: 0 auto;
        width: 95%;
        max-width: 700px ;
        height: auto;
        margin-bottom: 30px;
    }
</style>
<div class="container">
    <div class="landing-container">
        <h1 class="landing-heading">Welcome to Bus Tracking System</h1>
        <p class="landing-text">Track the live location of buses in real-time and plan your journey with ease.</p>
        <img class="landing-img img-fluid" src="https://www.milesight-iot.com/wp-content/uploads/2019/04/bus-tracking.png" alt="Bus Image">
        <p class="landing-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor orci sit amet
            dolor convallis, in commodo justo aliquet. Quisque scelerisque augue sit amet tincidunt iaculis. Sed
            nec tellus id leo tincidunt finibus. Nam id urna nec felis ultrices condimentum in sit amet ligula.
            Nulla sodales mi ac pharetra dignissim. Fusce sit amet erat id velit congue pellentesque. Curabitur
            efficitur massa at felis tempor, eget malesuada nulla bibendum. Nam dapibus sapien et sapien mattis,
            sit amet malesuada sapien tristique. In id feugiat metus. Suspendisse a odio eros. Sed sed urna eget
            justo cursus consequat.</p>
        <p class="landing-text">Vivamus lacinia arcu enim, id dictum neque vestibulum vitae. Aenean sit amet
            faucibus felis. Morbi consectetur tristique tortor in lacinia. Nullam eu feugiat sapien. Fusce congue
            iaculis ligula, sed cursus orci congue id. Aliquam erat volutpat. Nulla facilisi. Pellentesque
            consectetur, enim at auctor bibendum, nisi elit ultrices sapien, id tempus mauris turpis vel est. Sed
            auctor purus a nulla facilisis rutrum. Integer ullamcorper tortor ac felis efficitur fringilla. Nam
            tincidunt congue sem eu eleifend. Vestibulum tincidunt cursus est, in fermentum orci. Etiam sed nibh
            eget nisl tincidunt volutpat vitae eu dui.</p>
    </div>
</div>