<%- include('../partials/header') -%>

    <div class="container">
        <div class="row justify-content-center">
            <div class="m-4">
                <form class="form">
                    <p class="title">Driver Login</p>
                    <p class="message">Sign in to access your account.</p>

                    <!-- Email -->
                    <label>
                        <input id="username" required="" placeholder="" type="text" minlength="5" class="input">
                        <span>Username</span>
                    </label>

                    <!-- Password -->
                    <label>
                        <input id="password" required="" placeholder="" type="password" minlength="8" maxlength="16"
                            class="input">
                        <span>Password</span>
                        <i class="toggle-password fa fa-eye"></i>
                    </label>

                    <button type="submit" class="submit btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // --------------------------------------------------
            // User Defined functions
            // --------------------------------------------------
            function addLoadingSpinner() {
                $('#loading-overlay').css({ 'display': 'block' });
                $('#loading-overlay').addClass('loading-overlay');
                $('#spinner').addClass('spinner');
            }

            function removeLoadingSpinner() {
                $('#loading-overlay').removeClass('loading-overlay');
                $('#loading-overlay').css({ 'display': 'none' });
                $('#spinner').removeClass('spinner');
            }
            // -----------------------------------------------
            // -----------------------------------------------

            $('form').submit(function (event) {
                event.preventDefault();

                let username = $('#username').val().trim();
                let password = $('#password').val().trim();

                addLoadingSpinner();

                $.ajax({
                    type: "POST",
                    url: '',
                    data: {
                        username: username,
                        password: password
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("Login successful!");
                            window.location = '/driver';
                        } else {
                            alert("Invalid credentials");
                        }
                    },
                    error: function (error) {
                        alert("An error has occurred, try again later!");
                    },
                    complete: function (status) {
                        removeLoadingSpinner();
                    }
                })

            })
        })
    </script>

    <%- include('../partials/footer') -%>