<%- include('../partials/header') -%>

    <div class="container">
        <div class="row justify-content-center">
            <div class="m-4">
                <form class="form" autocomplete="off">
                    <p class="title">Register </p>
                    <p class="message">Signup now and get full access to our app. </p>

                    <!-- Full name -->
                    <label>
                        <input id="fullname" required="" placeholder="" minlength="5" type="text" class="input">
                        <span>Firstname</span>
                    </label>

                    <div class="flex">
                        <!-- Gender -->
                        <label>
                            <select id="gender" required="" class="input">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <span>Gender</span>
                        </label>

                        <!-- Date of Birth -->
                        <label>
                            <input id="dob" required="" placeholder="" type="text" class="input"
                                onfocus="(this.type='date')" onblur="(this.type='text')">
                            <span>Date of birth</span>
                        </label>
                    </div>

                    <!-- Email -->
                    <label>
                        <input id="email" required="" placeholder="" type="email" minlength="8" class="input">
                        <span>Email</span>
                    </label>

                    <!-- Contact number -->
                    <label>
                        <input id="phone" required="" placeholder="" type="number" maxlength="10" class="input">
                        <span>Phone number</span>
                    </label>

                    <!-- Password -->
                    <div class="flex">

                        <label>
                            <input id="pass" required="" placeholder="" type="password" minlength="8" maxlength="16"
                                class="input">
                            <span>Password</span>
                        </label>
                        <label>
                            <input id="cpass" required="" placeholder="" type="password" minlength="8" maxlength="16"
                                class="input">
                            <span>Confirm password</span>
                        </label>
                    </div>
                    <button class="submit">Submit</button>
                    <p class="signin">Already have an acount ? <a href="login">Signin</a> </p>
                </form>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            // --------------------------------------------------
            // User Defined functions
            // --------------------------------------------------
            function addLoadingSpinner() {
                $('#loading-overlay').css({ 'display': 'block' });
                $('#loading-overlay').addClass('loading-overlay');
                $('#spinner').addClass('spinner');
            }

            function removeLoadingSpinner() {
                $('#loading-overlay').removeClass('loading-overlay');
                $('#loading-overlay').css({ 'display': 'none' });
                $('#spinner').removeClass('spinner');
            }
            // -----------------------------------------------
            // -----------------------------------------------


            $('form').submit(function (event) {
                event.preventDefault();

                let name = $('#fullname').val().trim();
                let email = $('#email').val().trim();
                let phone = $('#phone').val().trim();
                let pass = $('#pass').val().trim();
                let cpass = $('#cpass').val().trim();
                let gender = $('#gender option:selected').val().trim();
                let dob = $('#dob').val().trim();

                if (validatePassword(phone, pass, cpass)) {
                    let confirmOption = confirm("Are you sure to subimt?");
                    if (confirmOption) {
                        addLoadingSpinner();
                        $.ajax({
                            type: 'POST',
                            url: '',
                            data: {
                                name: name,
                                email: email,
                                gender: gender,
                                dob: dob,
                                phone: phone,
                                pass: pass,
                            },
                            success: function (respone) {
                                if (respone.statusCode == 0) {
                                    alert("Registration successful! Redirecting to login page.");
                                    window.location = '/user/login'
                                } else if (respone.statusCode == 1) {
                                    alert("Email already registered! Kindly Login");
                                } else if (respone.statusCode == 2) {
                                    alert("Phone Number already registered! Kindly Login");
                                } else if (respone.statusCode == 3) {
                                    alert("Unable to register, kindly try again later");
                                } else {
                                    alert("Unable to register, kindly try again later!");
                                }
                            },
                            error: function (error) {
                                alert("An unknown error has occured!");
                            },
                            complete: function (status) {
                                removeLoadingSpinner();
                            }
                        })
                    }
                }

            })

            function validatePassword(phone, pass, cpass) {
                if (phone.length != 10) {
                    alert("Phone number must contain exactly 10 digits!");
                    return false;
                }
                if (pass !== cpass) {
                    alert("Passwords do not match!");
                    return false;
                }
                return true;
            }
        })
    </script>
    <%- include('../partials/footer') -%>